fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
sse-starlette
openai
sympy
antlr4-python3-runtime==4.11.*
scipy
numpy
sentence-transformers
chromadb
networkx
httpx
tenacity
python-json-logger
pydantic-ai
json-repair
